@import "tailwindcss";
@keyframes spin-slow {
  0% {
    transform: rotate(0deg) scale(2);
  }
  50% {
    transform: rotate(540deg) scale(1.5); /* 2 full spins */
  }
  100% {
    transform: rotate(0deg) scale(2); /* 5 full spins */
  }
}

.animate-spin-slow {
  animation: spin-slow 10s infinite;
}


@keyframes zoom-spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom-spin {
  animation: zoom-spin 5s infinite;
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(-30px) rotate(20deg);
  }
  50% {
    transform: translateY(-30px) rotate(30deg);
  }
}
@keyframes pointer-fly {
  0% {
    transform: scale(1.5) translate(0px, -30px) rotate(20deg);
    opacity: 1;
  }
  50% {
    transform: scale(1) translate(200px, -200px) rotate(540deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) translate(0px, -30px) rotate(20deg);
    opacity: 1;
  }
}

@keyframes float-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-100px); }
}

@keyframes float-slower {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(100px); }
}

.animate-float-slow {
  animation: float-slow 3s ease-in-out infinite;
}

.animate-float-slower {
  animation: float-slower 3s ease-in-out infinite;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoom-in 0.3s ease-out;
}

@keyframes explode {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(0) rotate(360deg);
    opacity: 0;
  }
}

.animate-explode {
  animation: explode 1.5s ease-out forwards;
}
